{% extends 'base.html' %}{% load static %}{% block pageContent %}
<style>
    body {
        background-image:url('{% static "assets/default/img/wallpaper.jpg" %}');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    main {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: auto;
    }
    
    #logo-img {
        height: 7em;
        width: 7em;
        object-fit: cover;
        object-position: center center;
    }
    
    #page-title {
        font-size: 3em;
        color: #f7f7f7;
        font-family: cursive;
        text-shadow: 2px 2px 12px #b7652a;
    }
</style>
<h2>
                        <a class="nav-link" aria-current="page" href="{% url 'logout' %}">Logout</a>
</h2>
<div class="d-flex flex-column w-100 justify-content-center align-items-center">
    <div class="text-center">
        <img src="{% static 'assets/default/img/logo.jpg' %}" alt="Logo" class="bg-gradient bg-dark bg-opacity-75 rounded-circle padding-0 border" id="logo-img">
    </div>
    <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 py-5 mb-3">
        <h2 class="text-center fw-bolder" id="page-title">BOOKS IN LIBRARY</h2>

    </div>

</div>


         <div class="cart-list">
             <h6 style="color:white;" align="right"> Status 1: Active  2: Inactive </h6>
	    				<table class="table" border="2px solid blue" bgcolor="white">
						    <thead class="thead-primary">
						      <tr class="text-center">
						        <th style="width:5%">S.No</th>
						        <th style="width:10%">ISBN</th>
						        <th style="width:20%">TITLE</th>
						        <th style="width:20%">DESCRIPTION</th>
                                <th style="width:15%">AUTHOR</th>
                                <th style="width:10%">PUBLISHER</th>
                                <th style="width:25%">DATE PUBLISHED</th>
                                <th style="width:10%">STATUS</th>

						      </tr>
						    </thead>
						    <tbody>
                             {% for i in data %}
                          <tr class="text-center" bgcolor="white">
                        <td>{{forloop.counter}}</td>
                        <td class="product-name">{{i.0}}</td>
                        <td class="quantity"> {{i.1}}</td>
                        <td class="quantity"> {{i.2}}</td>
                        <td class="quantity"> {{i.3}}</td>
                        <td class="quantity"> {{i.4}}</td>
                        <td class="quantity"> {{i.5}}</td>
                        <td class="quantity"> {{i.6}}</td>


                    </tr>
                    {% endfor %}
						    </tbody>
						  </table>
             <h6> Status 1: Active  2: Inactive </h6>
					  </div>

{% endblock pageContent %} {% block ScriptBlock %}
<script>
    $(function() {
        $('#login-user').submit(function(e) {
            e.preventDefault();
            var _this = $(this)
            $('.err-msg').remove();
            var el = $('<div>')
            el.addClass("alert alert-danger err-msg")
            el.hide()
            if (_this[0].checkValidity() == false) {
                _this[0].reportValidity();
                return false;
            }
            start_loader();
            $.ajax({
                headers: {
                    "X-CSRFToken": '{{csrf_token}}'
                },
                url: "{% url 'login-user' %}",
                data: new FormData($(this)[0]),
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                dataType: 'json',
                error: err => {
                    console.log(err)
                    alert("An error occured", 'error');
                    end_loader();
                },
                success: function(resp) {
                    if (typeof resp == 'object' && resp.status == 'success') {
                        el.removeClass("alert alert-danger err-msg")
                        location.href = "{% url 'home-page' %}"
                    } else if (resp.status == 'failed' && !!resp.msg) {
                        el.text(resp.msg)
                    } else {
                        el.text("An error occured", 'error');
                        end_loader();
                        console.err(resp)
                    }
                    _this.prepend(el)
                    el.show('slow')
                    $("html, body, .modal").scrollTop(0);
                    end_loader()
                }
            })
        })
    })
</script>
{% endblock ScriptBlock %}